html, body, #root, #app {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    min-width: 360px;
}

#pageTitle{
    font-family: 'Dancing Script', cursive;
    color: rgb(247, 243, 243);
    min-width: 200px;
}

/* #header,.content, footer {
    width: 100%;
    margin: 0%;
    padding: 0%;
}



.content{
    display: flex;
    flex-direction: column;
    min-height: 539px;
} */

#footer{
    display: flex;
    flex-direction: column;
}


@media (max-width:360px){
/* @media (max-width: 768px){ */


 
}


/* @media (min-width:851px) and (max-width:1300px)  */
/* @media (min-width:851px) and (max-width:1300px)  */
