.analyticsContainer{
    width: 100%;
    min-height: 1000px;
    background-color: #153a60;
    display: flex;
    flex-direction: column;
}


.analyticsButtonFirst{
    width: 100%;
    height: 80px;
    font-size: 1.5em;
    padding-bottom: 10px;
    margin: 0%;
    text-align: center;
    font-family: 'Cormorant Infant', serif;
    background-color: #082540;
    color:  #f4f6f8;
    border: none;
}


.analyticsButtonsContainer{
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.analyticsButton{
    background-color: #153a60;
    border: none; 
    color:  #f4f6f8;
    font-size: 1.2em;
    height: 80px;
    width: 33.33%;
    text-align: center;
    font-family: 'Cormorant Infant', serif;
}

.analyticsChartsContainer{
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.chartsLoader{
    position: fixed;
    width: 100%;
    margin: 0%;
    padding: 0% 0% 0% 0%;
    padding-bottom: 700px;
    left: 0;
    background-color: #153a60;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;
}




@media (max-width:360px){

    .analyticsContainer{
        padding-bottom: 12%;
    }

    .analyticsButtonsContainer{
        height: 60px;
    }

    .analyicsFirstPageText{
        width: 80%;
        background-color: #f4f6f8;
        margin: 0%;
        padding: 30% 10% 100% 10%;
        color: #153a60;
        text-align: center;
        font-size: 2em;
        font-family: 'Cormorant Infant', serif;
    }

    .analyticsImage{
        display: none;
    }
}



@media (min-width:361px) {
    
    .analyticsContainer{
        transform: translateY(-150px);
    }

    .analyticsButtonsContainer{
        height: 50px;
    }

    .analyticsFirstPage{
        width: 100%;
        display: flex;
        direction: row;
    }

    .analyticsImage{
        width: 70%;
        margin: 0%;
        padding: 0%;
        transform: rotate(180deg);
    }

    .analyticsFirstPageAlign{
        width: 30%;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
    }

    .analyticsFirstPageAlign span{
        width: 100%;
        height: 30%;
        /* background-color: red; */
        background-color: #085c80;
        border-color:  #085c80;
    }

    .analyicsFirstPageText{
        /* width: 100%; */
        height: 40%;
        text-align: center;
        color:white;
        margin: 0%;
        padding: 5% 0%;
        font-size: 1em;
        font-family: 'Cormorant Infant', serif;
        background-color: #085c80;
        border-color:  #085c80;
        z-index: 2;
    }

    .chartsLoader{
        padding: 10% 0% 90% 0%;
    }

}


@media (min-width: 373px){
    .analyicsFirstPageText{
        padding: 5%;
    }
}

@media (min-width: 450px){
    .analyicsFirstPageText{
        font-size: 1.5em;
    }
}

@media (min-width: 700px){
    .analyicsFirstPageText{
        font-size: 2em;
    }
}


@media (min-width: 769px){

    .analyticsContainer{
        transform: translateY(-80px);
    }

    .analyticsButton{
        font-size: 1.5em;
    }
}


@media (min-width: 1640px){

}



