@media (max-width: 360px){

    .loader{
        position: fixed;
        width: 100%;
        margin: 0%;
        padding: 40% 0% 70% 0%;
        left: 0;
        background-color: white;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: load8 1.1s infinite linear;
        transition: opacity 0.3s;
    }
    
}


@media (min-width:361px) and (max-width: 768px){

    .loader{
        position: fixed;
        width: 100%;
        margin: 0%;
        padding: 20% 0% 70% 0%;
        left: 0;
        background-color: white;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: load8 1.1s infinite linear;
        transition: opacity 0.3s;
    }
    
}


@media (min-width: 769px) and (max-width: 1500px){

    .loader{
        position: fixed;
        width: 100%;
        margin: 0%;
        padding: 20% 0% 70% 0%;
        left: 0;
        background-color: white;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: load8 1.1s infinite linear;
        transition: opacity 0.3s;
    }
    
}