@media (max-width:360px){
        
    .welcomePageContainer{
        width: 100%;
        min-height: 600px;
        padding-top: 40px;  
    }

    .welcomePageText{
        font-family: 'Amatic SC', cursive;
        text-align: center;
        font-size: 5em;
        width: 50%;
        padding-left: 25%;
        color: #504d4d;
    }
}
