.pieChartLegend {
    margin-top: 5%;
    padding: 7% 5%;
    background-color: #153a60;
    color: whitesmoke;
}

.pieChartLegendElt {
    width: 45%;
    float: left;
    margin: 0%;
    padding-top: 5px;
}

.pieDot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}

.chartViewsLikesContainer{
    background-color: #e2d4e2;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-top: 5%;
}


@media (min-width: 400px) {
    .chartViewsLikesContainer{
        padding: 5% 10% 0% 10%;
    }

    .pieChartLegend {
        margin: 5% 1%;
        padding: 5% 0% 5% 10%;
    }   
}


@media (min-width: 600px) {
    .chartViewsLikesContainer {
        padding: 5% 20% 0% 20%;
    }    
}


@media (min-width: 755px) {

    .chartViewsLikesContainer {
        padding: 0%;
    }       
    .chartsAnalyticsWeb{
        display: flex;
        padding: 5% 0% 0% 10%;
    }

    .pieChartLegend {
        margin: 5%;
        padding: 5% 0% 5% 15%;
    }  
}