.pieChartLegendElt {
    width: 45%;
    float: left;
    margin: 0%;
    padding-top: 5px;
}


.pieDot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}


@media (max-width:360px){
    
    .chartViewsLikesContainer{
        width: 100%;
        background-color: #e2d4e2;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        padding-top: 5%;
    }

    .pieChartLegend {
        width: 100%;
        margin-top: 5%;
        padding: 7% 5%;
        /* background-color: #3a3737; */
        background-color: #153a60;
        color: whitesmoke;
    }



}

@media (min-width:361px) {

    .chartsAnalyticsWeb{
        padding: 5% 10%;
    }
    
    .chartViewsLikesContainer{
        width: 100%;
        background-color: #e2d4e2;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        padding-top: 5%;
    }

    .pieChartLegend {
        width: 100%;
        margin-top: 5%;
        padding: 7% 5%;
        background-color: #153a60;
        color: whitesmoke;
    }

}


@media (min-width: 769px) {
    
    .chartsAnalyticsWeb{
        display: flex;
        padding-left: 30%;
        padding-top: 2%;
    }
}