.contentAnalyticsStyle{
    background-color: #153a60;
}

@media (max-width: 360px) {

    #header,.content, footer {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    
    #pageTitle{
        font-family: 'Dancing Script', cursive;
        color: rgb(247, 243, 243);
        padding-left: 12%;
        min-width: 200px;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        min-height: 539px;
    }

    #header {
        height: 60px;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #a70cb5;
        z-index: 3;
    }

    .content{
        padding-top: 60px;
        scroll-behavior: smooth;
    }

    #pageTitle{
        font-size: 2.5em;
        flex-grow: 1;
    }
}


@media (min-width:361px){
    
    #app{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;  
        background-color: #a70cb5;
        width: 100%;
    }

    .content{
        min-width: 360px;
        width: 100%;
        margin-top: 300px;
        scroll-behavior: smooth;
        position: absolute;
    }

    #pageTitle{
        width: 100%;
        height: 60px;
        padding-top: 10px;
        margin: 0%;
        font-size: 2.5em;
        text-align: center;
    } 

}



@media (min-width:769px) {

    .content{
        margin-top: 200px;
    }

}