@media (max-width: 360px) {

    #header,.content, footer {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    
    #pageTitle{
        font-family: 'Dancing Script', cursive;
        color: rgb(247, 243, 243);
        padding-left: 12%;
        min-width: 200px;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        min-height: 539px;
    }

    #header {
        height: 60px;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #a70cb5;
        z-index: 3;
    }

    .content{
        padding-top: 60px;
        scroll-behavior: smooth;
    }

    #pageTitle{
        font-size: 2.5em;
        flex-grow: 1;
    }
}


@media (min-width:361px) and (max-width: 768px){
    
    #app{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #header {
        /* position: fixed; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;  
        background-color: #a70cb5;
        width: 100%;
    }

    .content{
        /* height: 300px;  */
        width: 100%;
        margin-top: 300px;
        /* background-color: green; */
        scroll-behavior: smooth;
        position: absolute;
    }

    #pageTitle{
        width: 100%;
        height: 60px;
        padding-top: 10px;
        margin: 0%;
        font-size: 2.5em;
        text-align: center;
    }

}








 /* LATER */


@media (min-width:769px) and (max-width: 1024px){
    
    #app{
        display: flex;
        flex-direction: column;
    }

    #header {
        /* position: fixed; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;  
        /* background-color: #a70cb5; */
        background-color: #4d75be;
        width: 100%;
    }

    .content{
        height: 300px; 
        margin-top: 400px;
        /* background-color: green; */
        scroll-behavior: smooth;
        position: absolute;
    }

    #pageTitle{
        width: 100%;
        height: 60px;
        padding-top: 10px;
        margin: 0%;
        font-size: 2.5em;
        text-align: center;
    }

}